In [38]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [39]:
df = pd.read_csv('train_AV3.csv')
df = df.drop(['Loan_ID'],axis=1)

In [41]:
from sklearn.impute import SimpleImputer
my_imputer = SimpleImputer(strategy='most_frequent')
df = my_imputer.fit_transform(df)
df = pd.DataFrame(df)
df.columns=['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area','Loan_Status']

In [42]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
df ['Gender_1']=lb.fit_transform(df['Gender'])
df.drop(['Gender'],axis=1,inplace=True)
df ['Married_1']=lb.fit_transform(df['Married'])
df.drop(['Married'],axis=1,inplace=True)
df ['Education_1']=lb.fit_transform(df['Education'])
df.drop(['Education'],axis=1,inplace=True)
df ['Self_Employed_1']=lb.fit_transform(df['Self_Employed'])
df.drop(['Self_Employed'],axis=1,inplace=True)
df ['Property_Area_1']=lb.fit_transform(df['Property_Area'])
df.drop(['Property_Area'],axis=1,inplace=True)
df ['Loan_Status_1']=lb.fit_transform(df['Loan_Status'])
df.drop(['Loan_Status'],axis=1,inplace=True)
df ['Dependents_1']=lb.fit_transform(df['Dependents'])
df.drop(['Dependents'],axis=1,inplace=True)
df

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_1,Married_1,Education_1,Self_Employed_1,Property_Area_1,Loan_Status_1,Dependents_1
0,5849,0,120,360,1,1,0,0,0,2,1,0
1,4583,1508,128,360,1,1,1,0,0,0,0,1
2,3000,0,66,360,1,1,1,0,1,2,1,0
3,2583,2358,120,360,1,1,1,1,0,2,1,0
4,6000,0,141,360,1,1,0,0,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
609,2900,0,71,360,1,0,0,0,0,0,1,0
610,4106,0,40,180,1,1,1,0,0,0,1,3
611,8072,240,253,360,1,1,1,0,0,2,1,1
612,7583,0,187,360,1,1,1,0,0,2,1,2
613,4583,0,133,360,0,0,0,0,1,1,0,0

In [44]:
y=df['Loan_Status_1']
y

0      1
1      0
2      1
3      1
4      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status_1, Length: 614, dtype: int32

In [45]:
X=df.drop(['Loan_Status_1'],axis=1)
X

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_1,Married_1,Education_1,Self_Employed_1,Property_Area_1,Dependents_1
0,5849,0,120,360,1,1,0,0,0,2,0
1,4583,1508,128,360,1,1,1,0,0,0,1
2,3000,0,66,360,1,1,1,0,1,2,0
3,2583,2358,120,360,1,1,1,1,0,2,0
4,6000,0,141,360,1,1,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...
609,2900,0,71,360,1,0,0,0,0,0,0
610,4106,0,40,180,1,1,1,0,0,0,3
611,8072,240,253,360,1,1,1,0,0,2,1
612,7583,0,187,360,1,1,1,0,0,2,2
613,4583,0,133,360,0,0,0,0,1,1,0

In [46]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [47]:
model = SVC()
model.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [48]:
model.score(X_test,y_test)

0.6910569105691057

0.6924643584521385